<div class="container">
    <div class="row">
        <h1 class="text-center" class="banner">Company details:</h1>
    </div>
</div>

<div class="container">
  <h3> <%= @company.name %> </h3>
  <p> <%= @company.email %> </p>
  <p> <%= @company.description %> </p>
</div>

<div class="container">
<a class="btn btn-warning btn-lg btn-md" href="/company/<%=@company.id%>/edit" role="button">Edit</a>
</div>

<div class="container">
<a class="btn btn-warning btn-lg btn-md" href="/company/<%=@company.id%>/code" role="button">View Code</a>
</div>
