<div class="container">
    <div class="row">
        <h1 class="text-center" class="banner">Your details:</h1>
    </div>
</div>

<div class="container">
  <p><%= @developer.name %> </p>
  <p> <%= @developer.email %> </p>
  <p>Code snippet: </p>
  <pre><%= @developer.code %> </pre>
</div>

<form action="/developer/edit/<%=entry['id']%>" method="post">
  <label for="name">Name:</label>
  <input name="name" class="form-control" placeholder="Enter company name">
</form>

<form action ="/edit/<%=entry['id']%>" method="post">
  <input name="username" value="<%= @user['username'] %>"/>
  <input name="email" value="<%= @user['email'] %>"/>
  <input name="phone" value="<%= @user['phone'] %>"/>
  <textarea name="description"><% @user['description'] %></textarea>
  <button type="submit">Edit User!</button>
</form>
